.App {
  text-align: center;
}

@media (max-width: 768px) {
  .glass {
    padding: 1.5rem !important;
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
  h1 {
    font-size: 2rem !important;
  }
}
